/* HEADER / NAVBAR */
.altoNav {
  height: 80px;
}

.colorNavbar {
  background-image: linear-gradient(to right, #dce35b, #45b649);
}

/* Mixin con parametros */

@mixin estiloFuente($color, $mayusculas, $negrita, $alineacion) {
  color: $color;
  text-transform: $mayusculas;
  font-weight: $negrita;
  text-align: $alineacion;
}

.fuenteNavbar {
  @include estiloFuente(white, uppercase, bold, center);
}

.tituloNavbar {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
}

.fondoNav {
  background-image: linear-gradient(to right, #dce35b, #45b649);
}
