/* HEADER / NAVBAR */
.altoNav {
  height: 80px;
  border-bottom: lawngreen solid 4px;
}

.colorNavbar {
  background-color: forestgreen;
}

.fuenteNavbar {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.tituloNavbar {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
}

.fondoNav {
  background-color: forestgreen;
}
