/* PRODUCCIÓN Y PREPARACIÓN */

.main2 {
  font-size: 1.2rem;
  padding: 2vh;
}

/* Agrego mapa para el estilo de mis h2 */

$estilo: (
  text-align: center,
  font-weight: bold,
);

h2 {
  text-align: map-get($estilo, text-align);
  font-weight: map-get($estilo, font-weight);
}

.h3 {
  padding-top: 3vh;
  font-size: 1.5rem;
  font-weight: bold;
}
